body {
  background-image: url(imagens/floresta.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
}

#eu {
  position: absolute;
  width: 180px;
  height: 200px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 10px 7px 10px black;
}

.box {
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  position: relative;
  width: 180px;
  background: rgba(128, 170, 147, 0.411);
  top: 250px;
  left: 30%;
  float: left;
  font-size: large;
  box-shadow: 10px 7px 10px black;

  max-width: 100%;
  transition: all 0.3s;
}
.box:hover {
  background: rgba(128, 170, 147, 0.849);
  transform: scale(1.1);
}
#sobremim {
  font-style: oblique;
  text-align: center;
}
#objetivos {
  font-style: oblique;
  text-align: center;
}
#gostos h1 {
  text-align: center;
}
#gostos li {
  font-style: oblique;
}
audio {
  position: absolute;
  border-radius: 25px;
  left: 20px;
  top: 90%;
  box-shadow: 10px 7px 10px black;
  width: 260px;
  color: transparent;
  transition: all 0.3s;
}
